<%= link_to 'Home', root_path %>
<% if user_signed_in? %>
  Logged in as: <strong><%= current_user.email %></strong>
  <%= link_to 'Edit profile', edit_user_registration_path %>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete, :alert => "Signed out seccessfully." )%>
<% else %>
  <h1> Welcome! </h1>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "Login", new_user_session_path %>
<% end %>
